<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.msrit.ratethefarm">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoginAndSignUp"
            android:theme="@style/OpeningScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".SignUp"
            android:theme="@style/OpeningScreenTheme"/>


        <activity
            android:name=".GetFarmerDetails"
            android:label="@string/page_3_heading" />

        <activity
            android:name=".FarmersList"
            android:label="@string/page_4_heading" />

        <activity
            android:name=".ShowFarmerDetails"
            android:label="@string/page_5_heading" />


    </application>

</manifest>